@model WebApp.ViewModels.InterventionViewModel

@{
    ViewData["Title"] = "Ajouter une Intervention";
    Layout = "_Layout";
}


@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        Il y a des erreurs dans le formulaire. Veuillez les corriger avant de soumettre.
    </div>
}

<form asp-action="Create" method="post" class="interventionCreateForm">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-container border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="form-title text-center">Ajouter une Nouvelle Intervention</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="IsVirtual" class="form-label">Est virtuel</label>
            <div class="form-check">
                <input asp-for="IsVirtual" class="form-check-input" type="checkbox" />
                <span asp-validation-for="IsVirtual" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <!-- Première Colonne -->
            <div class="col-md-6">

                <div class="mb-3">
                    <label asp-for="DateIntervention" class="form-label">Date de l'intervention</label>
                    <input asp-for="DateIntervention" type="date" class="form-control date-input" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="DateIntervention" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="IdEmployee" class="form-label">Intervenant</label>
                    <select asp-for="IdEmployee" class="form-control" asp-items="@(ViewBag.Employees)"></select>
                    <span asp-validation-for="IdEmployee" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="IdReferenceType" class="form-label">Référence</label>
                    <select asp-for="IdReferenceType" class="form-control" asp-items="@(ViewBag.MdReferenceSources)">
                        <option value="">--Sélectionnez la réference--</option>
                    </select>
                    <span asp-validation-for="IdReferenceType" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="IdStatusType" class="form-label">Statut</label>
                    <select asp-for="IdStatusType" class="form-control" asp-items="@(ViewBag.MdInterventionStatusTypes)">
                        <option value="">--Sélectionnez le Statut--</option>
                    </select>
                    <span asp-validation-for="IdStatusType" class="text-danger"></span>
                </div>
                <!-- HIDDEN FIELDS -->


                <div class="hidden" id="loanFields">
                    <div>
                        <label asp-for="IdLoanReason" class="form-label">But d'emprunt petit prêt</label>
                        <select asp-for="IdLoanReason" class="form-control" asp-items="@(ViewBag.MdLoanReasons)">
                            <option value="">--Sélectionnez le but d'emprunt--</option>
                        </select>
                        <span asp-validation-for="IdLoanReason" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="LoanAmount" class="form-label">Montant du petit prêt</label>
                        <input asp-for="LoanAmount" class="form-control" />
                        <span asp-validation-for="LoanAmount" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="LoanAmountBalance" class="form-label">Solde restant du petit prêt</label>
                        <input asp-for="LoanAmountBalance" class="form-control" />
                        <span asp-validation-for="LoanAmountBalance" class="text-danger"></span>
                    </div>
                    <div>
                        <label class="form-label pt-5">Petit prêt remboursé</label>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" id="btnYes" class="btn btn-dark">Oui</button>
                            <button type="button" id="btnNo" class="btn btn-dark">Non</button>
                        </div>
                        <input type="hidden" asp-for="IsLoanPaid" id="IsLoanPaid" />
                        <span asp-validation-for="IsLoanPaid" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <!-- Deuxième Colonne -->
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="IdInterventionType" class="form-label">Raison consultation</label>
                    <select asp-for="IdInterventionType" class="form-control" asp-items="@(ViewBag.MdInterventionTypes)">
                        <option value="">--Sélectionnez la Raison de Consultation--</option>
                    </select>
                    <span asp-validation-for="IdInterventionType" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DebtAmount" class="form-label">Montant de la dette </label>
                    <input asp-for="DebtAmount" class="form-control" autocomplete="off" />
                    <span asp-validation-for="DebtAmount" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="IdClient" class="form-label"># Dossier client</label>
                    <div class="input-group">
                        <input asp-for="IdClient" type="hidden" id="IdClient" value="@Model.IdClient" />
                        <input type="text" class="form-control" id="clientNameDisplay"
                               readonly style="cursor: not-allowed;" value="@Model.ClientName" />
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#clientModal">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                    <span asp-validation-for="IdClient" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="SelectedSolutions" class="form-label">Solution</label>
                    <div class="input-group">
                        <select id="AvailableSolutions" class="form-control">
                            <option value="">--Sélectionnez la Solution--</option>
                            @if (Model.Solutions != null)
                            {
                                @foreach (var solution in Model.Solutions)
                                {
                                    <option value="@solution.Value">@solution.Text</option>
                                }
                            }
                        </select>
                        <button type="button" id="addSolutionButton" class="btn btn-primary ml-2">Ajouter</button>
                    </div>
                    <span asp-validation-for="SelectedSolutions" class="text-danger"></span>
                </div>


                <div id="solutionsSection" class="mb-3">
                    <label class="form-label text-center">Solutions proposées</label>
                    <ul id="selectedSolutionsList" class="list-group">
                        @foreach (var solution in Model.SelectedSolutions)
                        {
                            var solutionText = Model.Solutions.FirstOrDefault(s => s.Value == solution.ToString())?.Text;
                            <li class="list-group-item" data-value="@solution">
                                @solutionText
                                <button type="button" class="btn btn-sm btn-danger float-right remove-solution">
                                    <i class="bi bi-trash"></i>
                                </button>
                                <input type="hidden" name="SelectedSolutions" value="@solution" />
                            </li>
                        }
                    </ul>
                    <span asp-validation-for="SelectedSolutions" class="text-danger"></span>
                </div>



            </div>



        </div>


        <div class="row">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary" style="width:150px">Ajouter</button>
                <a asp-controller="Intervention" asp-action="Index" class="btn btn-secondary" style="width:150px"><i class="bi bi-arrow-90deg-left"></i> Retour</a>
            </div>
        </div>
    </div>
</form>

<!-- Modal pour la recherche de clients -->
<div class="modal fade" id="clientModal" tabindex="-1" role="dialog" aria-labelledby="clientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clientModalLabel">Rechercher des Clients</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" id="searchClientInput" class="form-control" placeholder="Rechercher par nom, prénom ou numéro">
                <ul id="clientSearchResults" class="list-group mt-2">
                    <!-- Les résultats de la recherche seront ajoutés ici -->
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/Intervention.js"></script>

    <script>
        //Boutons OUI NON pour Petit Prêt

        $(document).ready(function () {
            $('#btnYes').click(function () {
                $('#IsLoanPaid').val(true);
                $('#btnYes').addClass('active');
                $('#btnNo').removeClass('active');
            });

            $('#btnNo').click(function () {
                $('#IsLoanPaid').val(false);
                $('#btnNo').addClass('active');
                $('#btnYes').removeClass('active');
            });
        });
    </script>

    
}
