@model WebApp.ViewModels.InterventionViewModel

@{
    ViewData["Title"] = "Détails de l'Intervention";
    Layout = "_Layout";
}



<div class="container">
    <div class="details-container">
        <div class="details-header">
            <h1 class="titreInterventionDetails text-center pb-2">Détails de l'Intervention</h1>
            <h4 class="sousTitreInterventionDetails text-center"># @Model.IdClient - @Model.ClientName</h4><br />
            <div class="text-center">
                <div class="btn-group" role="group" aria-label="Intervention Actions">
                    <a asp-controller="InterventionNotes" asp-action="Index" asp-route-interventionId="@Model.Id" class="btn btn-primary me-2"><i class="bi bi-journal-text"> </i>Notes (@ViewBag.NoteCount)</a>
                    <a asp-controller="InterventionAttachments" asp-action="Index" asp-route-interventionId="@Model.Id" class="btn btn-primary me-2"><i class="bi bi-paperclip"></i> Pièces jointes (@ViewBag.AttachmentCount)</a>
                </div>
            </div>
        </div>

       

        <div class="details-grid">
            <div>
                <div class="label">Est virtuel</div>
                <div class="value">@(Model.IsVirtual ? "Oui" : "Non")</div>
            </div>
            <div>
                <div class="label">Date de l'intervention :</div>
                <div class="value">@Model.DateIntervention?.ToString("dd/MM/yyyy")</div>
            </div>
            <div>
                <div class="label">Client :</div>
                <div class="value">@Model.ClientName</div>
            </div>
            <div>
                <div class="label">Intervenant :</div>
                <div class="value">@Model.EmployeeName</div>
            </div>
            <div>
                <div class="label">Référence :</div>
                <div class="value">@Model.ReferenceTypeName</div>
            </div>
            <div>
                <div class="label">Statut :</div>
                <div class="value">@Model.StatusName</div>
            </div>
            <div>
                <div class="label">Raison consultation :</div>
                <div class="value">@Model.InterventionTypeName</div>
            </div>
            <div>
                <div class="label">Montant de la dette : </div>
                <div class="value">@Model.DebtAmount?.ToString("C")</div>
            </div>
            @if (Model.IdLoanReason.HasValue)
            {
                <div>
                    <div class="label">Petit prêt remboursé :</div>
                    <div class="value">@(Model.IsLoanPaid.HasValue ? (Model.IsLoanPaid.Value ? "Oui" : "Non") : "NULL")</div>
                </div>
                <div>
                    <div class="label">But de l'emprunt :</div>
                    <div class="value">@(Model.LoanReasonName)</div>
                </div>
            }
            <div>
                <div class="label">Solutions proposées :</div>
                <div class="value">
                    <ul class="list-group">
                        @foreach (var solutionName in Model.SolutionNames)
                        {
                            <li class="list-group-item">@solutionName</li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="btn-container text-center">
            <a asp-controller="Intervention" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i>  Modifier</a>
            <a asp-controller="Intervention" asp-action="Index" class="btn btn-secondary"><i class="bi bi-arrow-90deg-left"></i> Retour</a>

        </div>
    </div>
</div>
