@model IEnumerable<WebApp.ViewModels.InterventionViewModel>

@{
    ViewData["Title"] = "Interventions";
    Layout = "_Layout";
}

<style>
    .table-container {
        margin-top: 30px;
        padding: 7px;
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 4px 15px 15px rgba(0, 0, 0, 0.1);
    }

    .table-header {
        background-color: #343a40;
        color: white;
        text-transform: uppercase;
    }

    .btn-primary, .btn-secondary {
        border-radius: 20px;
        font-weight: 600;
        padding: 10px 20px;
        border: solid 1px;
        margin-bottom: 10px;
        background-color: #343a40;
        transition: background-color 0.3s, color 0.3s;
    }

        .btn-primary:hover {
            background-color: white;
            color: black;
            border: solid 1px;
            border-color: black
        }

    .btn-secondary {
        background-color: #ffffff;
        color: #000000;
        border: 1px solid #000000;
    }

        .btn-secondary:hover {
            background-color: #f0f0f0;
        }

    .btn-group .btn {
        border-radius: 5px;
    }

        .btn-group .btn + .btn {
            margin-left: 5px;
        }

    .table th, .table td {
        vertical-align: middle;
    }
</style>

<div class="container">
    <div class="row pt-5">
        <div class="col-6">
            <h1 class="pb-2">Liste des Interventions</h1>
            <hr />
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" class="btn btn-primary">
                <i class="bi bi-file-earmark-plus-fill"></i> Créer une Nouvelle Intervention
            </a>
        </div>
    </div>

    <div class="table-container">
        @if (Model != null && Model.Any())
        {
            <table class="table table-striped">
                <thead class="table-header">
                    <tr>
                        <th># Dossier</th>
                        <th>Nom et prenom du Client</th>
                        <th>Statut</th>
                        <th>Intervenant</th>
                        <th>Date de l'intervention</th>
                        <th>Actions</th>                       
                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var intervention in Model)
                    {
                        <tr>
                            <td>@intervention.IdClient</td>
                            <td>@intervention.ClientName</td>
                            <td>@intervention.StatusName</td>
                            <td>@intervention.EmployeeName</td>
                            <td>@intervention.DateIntervention?.ToString("dd/MM/yyyy")</td>                        
                            
                            
                            <td>
                                <div class="btn-group" role="group">
                                    <a asp-action="Details" asp-route-id="@intervention.Id" class="btn btn-primary">
                                        <i class="bi bi-list-ul"></i> Détails
                                    </a>
                                    <a asp-action="Edit" asp-route-id="@intervention.Id" class="btn btn-warning">
                                        <i class="bi bi-pencil-square"></i> Modifier
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@intervention.Id" class="btn btn-danger">
                                        <i class="bi bi-trash"></i> Supprimer
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="text-center">Aucune intervention trouvée.</p>
        }
    </div>
</div>
