@model WebApp.ViewModels.SeminarViewModel

@{
    ViewData["Title"] = "Modifier un Atelier";
    Layout = "_Layout";
}





<form asp-action="Edit" class="form-container mt-3">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row pb-2">
        <h2 class="form-title text-center">Modifier un Atelier</h2>
        <hr />
    </div>

    <div class="form-group">
        <label asp-for="DateSeminar" class="form-label"></label>
        <input asp-for="DateSeminar" type="date" class="SemSearch form-control date-input" />
        <span asp-validation-for="DateSeminar" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="IdSeminarTheme" class="form-label">Thème de l'atelier</label>
        <select asp-for="IdSeminarTheme" class="SemSearch form-control" asp-items="ViewBag.SeminarThemes"></select>
        <span asp-validation-for="IdSeminarTheme" class="text-danger"></span>
    </div>

    <!-- Recherche inline pour les participants -->
    <div class="form-group mt-3">
        <label asp-for="SelectedParticipants" class="form-label">Participants</label>
        <input type="text" class="SemSearch form-control" id="searchParticipantInput" placeholder="Rechercher des participants" />
        <ul id="participantSearchResults" class="list-group custom-search-results"></ul>

        <div class="custom-selected-items">
            <ul id="selectedParticipantsList" class="list-group mt-2">
                @foreach (var participantId in Model.SelectedParticipants)
                {
                    var participant = (ViewBag.Participants as IEnumerable<SelectListItem>)?.FirstOrDefault(p => p.Value == participantId.ToString());
                    if (participant != null)
                    {
                        <li class="custom-list-group-item" data-id="@participantId">
                            <a href="@Url.Action("Details", "Client", new { id = participantId, clientId = participantId })" target="_blank" class="btn btn-primary" style="color: white;">
                                @participant.Text (#@participantId)
                            </a>
                            <a href="#" class="custom-remove-participant float-right"><i class="bi bi-trash"></i></a>
                            <input type="hidden" name="SelectedParticipants" value="@participantId" />
                        </li>
                    }
                }
            </ul>
        </div>
    </div>

    <!-- Recherche inline pour les intervenants -->
    <div class="form-group">
        <label asp-for="SelectedIntervenants" class="form-label">Intervenants</label>
        <input type="text" class="SemSearch form-control" id="searchIntervenantInput" placeholder="Rechercher des intervenants" />
        <ul id="intervenantSearchResults" class="list-group custom-search-results"></ul>

        <div class="custom-selected-items">
            <ul id="selectedIntervenantsList" class="list-group mt-2">
                @foreach (var intervenantId in Model.SelectedIntervenants)
                {
                    var intervenant = (ViewBag.Intervenants as IEnumerable<SelectListItem>)?.FirstOrDefault(i => i.Value == intervenantId.ToString());
                    if (intervenant != null)
                    {
                        <li class="custom-list-group-item" data-id="@intervenantId">
                            <a href="/Employee/Details/@intervenantId?employeeId=@intervenantId" target="_blank" class="btn btn-primary" style="color: white;">
                                @intervenant.Text (#@intervenantId)
                            </a>
                            <a href="#" class="custom-remove-intervenant float-right"><i class="bi bi-trash"></i></a>
                            <input type="hidden" name="SelectedIntervenants" value="@intervenantId" />
                        </li>
                    }
                }
            </ul>
        </div>
    </div>


    <div class="form-group mt-1">
        <label asp-for="Notes" class="form-label">Commentaire</label>
        <textarea asp-for="Notes" class="SemSearch form-control"></textarea>
        <span asp-validation-for="Notes" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col-md-12 text-center mt-3">
            <button type="submit" class="btn btn-primary" style="width:150px">Modifier</button>
            <a asp-controller="Seminars" asp-action="Index" class="btn btn-secondary" style="width:150px"><i class="bi bi-arrow-90deg-left"></i> Retour</a>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Retour au détail des Ateliers</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script>
        $(document).ready(function () {

            // Gestion de la recherche de participants
            $('#searchParticipantInput').on('input', function () {
                var searchTerm = $(this).val().toLowerCase();
                if (searchTerm.length > 2) {
                    $.ajax({
                        url: '@Url.Action("SearchParticipants", "Seminars")',
                        data: { searchTerm: searchTerm },
                        success: function (data) {
                            $('#participantSearchResults').empty();
                            data.forEach(function (participant) {
                                $('#participantSearchResults').append('<li class="custom-list-group-item" data-id="' + participant.id + '">' + participant.fullName + ' (#' + participant.id + ')</li>');
                            });
                            $('#participantSearchResults').show(); // Afficher les résultats
                        },
                        error: function (xhr, status, error) {
                            console.error("Erreur lors de la recherche des participants:", status, error);
                        }
                    });
                } else {
                    $('#participantSearchResults').hide(); // Masquer les résultats si moins de 3 caractères
                }
            });

            // Gestion de la recherche d'intervenants
            $('#searchIntervenantInput').on('input', function () {
                var searchTerm = $(this).val().toLowerCase();
                if (searchTerm.length > 2) {
                    $.ajax({
                        url: '@Url.Action("SearchIntervenants", "Seminars")',
                        data: { searchTerm: searchTerm },
                        success: function (data) {
                            $('#intervenantSearchResults').empty();
                            data.forEach(function (intervenant) {
                                $('#intervenantSearchResults').append('<li class="custom-list-group-item" data-id="' + intervenant.id + '">' + intervenant.fullName + ' (#' + intervenant.id + ')</li>');
                            });
                            $('#intervenantSearchResults').show(); // Afficher les résultats
                        },
                        error: function (xhr, status, error) {
                            console.error("Erreur lors de la recherche des intervenants:", status, error);
                        }
                    });
                } else {
                    $('#intervenantSearchResults').hide(); // Masquer les résultats si moins de 3 caractères
                }
            });

            // Sélection d'un participant et ajout à la liste
            $('#participantSearchResults').on('click', 'li', function () {
                var participantId = $(this).data('id');
                var participantName = $(this).text();
                if ($('#selectedParticipantsList li[data-id="' + participantId + '"]').length === 0) {
                    $('#selectedParticipantsList').append('<li class="custom-list-group-item" data-id="' + participantId + '">' +
                        '<a href="/Client/Details/' + participantId + '?clientId=' + participantId + '" target="_blank" class="btn btn-primary" style="color: white;">' + participantName + '</a>' +
                        ' <a href="#" class="custom-remove-participant float-right"><i class="bi bi-trash"></i></a>' +
                        '<input type="hidden" name="SelectedParticipants" value="' + participantId + '" /></li>');
                }
                $('#participantSearchResults').hide(); // Masquer les résultats après la sélection
                $('#searchParticipantInput').val(''); // Vider le champ de recherche
            });

            // Sélection d'un intervenant et ajout à la liste

            $('#intervenantSearchResults').on('click', 'li', function () {
                var intervenantId = $(this).data('id');
                var intervenantName = $(this).text();
                if ($('#selectedIntervenantsList li[data-id="' + intervenantId + '"]').length === 0) {
                    $('#selectedIntervenantsList').append('<li class="custom-list-group-item" data-id="' + intervenantId + '">' +
                        '<a href="/Employee/Details/' + intervenantId + '?employeeId=' + intervenantId + '" target="_blank" class="btn btn-primary" style="color: white;">' + intervenantName + '</a>' +
                        ' <a href="#" class="custom-remove-intervenant float-right"><i class="bi bi-trash"></i></a>' +
                        '<input type="hidden" name="SelectedIntervenants" value="' + intervenantId + '" /></li>');
                }
                $('#intervenantSearchResults').hide(); // Masquer les résultats après la sélection
                $('#searchIntervenantInput').val(''); // Vider le champ de recherche
            });


            // Suppression des participants
            $('#selectedParticipantsList').on('click', '.custom-remove-participant', function (e) {
                e.preventDefault();
                $(this).parent().remove();
            });

            // Suppression des intervenants
            $('#selectedIntervenantsList').on('click', '.custom-remove-intervenant', function (e) {
                e.preventDefault();
                $(this).parent().remove();
            });
        });
    </script>

}
