@using DataAccess.BOL.Seminar
@model WebApp.ViewModels.SeminarSearchViewModel
@Html.AntiForgeryToken()

<partial name="_Notification" />

@{
    ViewData["Title"] = "Ateliers";
    Layout = "_Layout";
}

@functions {
    string GetThemeName(int? themeId)
    {
        var themes = ViewBag.SeminarThemes as IEnumerable<SelectListItem>;
        var theme = themes?.FirstOrDefault(t => t.Value == themeId.ToString());
        return theme?.Text ?? "Inconnu";
    }
}

<!-- SWEETALERT DELETE STYLE-->
<link rel="stylesheet" href="~/css/global/SweetAlert.css">

<div class="index container">
    <div class="row pt-5">
        <div class="col-6">
            <h1 class="titreInterventionIndex pb-2">Liste des Ateliers</h1>
            <hr />
            <h4 class="titreRechercheInterventionIndex pt-4 pb-3"><i class="bi bi-search"></i> Recherche</h4>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" class="btn btn-primary">
                <i class="bi bi-file-earmark-plus-fill"></i> Créer un Nouvel Atelier
            </a>
        </div>
    </div>

    <!-- Cartouche de recherche -->
    <div class="searchForm container">
        <form asp-action="Index" method="get" class="form-inline search-form">
            <div class="row">
                <!-- Date filter -->
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label for="DateFilter">Date</label>
                        <select name="DateFilter" id="DateFilter" class="form-control">
                            <option value="">Sélectionner</option>
                            <option value="Semaine en cours" selected="@(Model.DateFilter == "Semaine en cours")">Semaine en cours</option>
                            <option value="Mois en cours" selected="@(Model.DateFilter == "Mois en cours")">Mois en cours</option>
                            <option value="Intervalle" selected="@(Model.DateFilter == "Intervalle")">Intervalle</option>
                        </select>
                    </div>
                </div>

                <!-- Date Range -->
                <div class="col-md-2 mb-3" id="date-range" style="display:none;">
                    <div class="form-group">
                        <label for="StartDate">Du</label>
                        <input type="date" name="StartDate" id="StartDate" class="form-control" value="@Model.StartDate?.ToString("yyyy-MM-dd")">
                    </div>
                </div>

                <div class="col-md-2 mb-3" id="date-range-end" style="display:none;">
                    <div class="form-group">
                        <label for="EndDate">Au</label>
                        <input type="date" name="EndDate" id="EndDate" class="form-control" value="@Model.EndDate?.ToString("yyyy-MM-dd")">
                    </div>
                </div>

                <!-- Thème filter -->
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label for="IdSeminarTheme">Thème</label>
                        <select name="IdSeminarTheme" id="IdSeminarTheme" class="form-control">
                            <option value="">Sélectionner</option>
                            @foreach (var theme in Model.Themes)
                            {
                                <option value="@theme.Value" selected="@(theme.Value == Model.IdSeminarTheme?.ToString())">@theme.Text</option>
                            }
                        </select>
                    </div>
                </div>

                <!-- Intervenant filter -->
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label for="IntervenantFilter">Intervenant</label>
                        <input type="text" name="IntervenantFilter" id="IntervenantFilter" class="form-control" value="@Model.IntervenantFilter" placeholder="Nom">
                    </div>
                </div>
            </div>

            @* <!-- Boutons -->
            <div class="row">
                <div class="col-md-5 mb-3 d-flex align-items-end pt-3">
                    <div class="form-group d-flex">
                        <button type="submit" class="btn btn-primary me-2">
                            <i class="bi bi-search"></i> Rechercher
                        </button>
                        <a asp-action="Index" class="btn btn-secondary me-2">
                            <i class="bi bi-eraser"></i> Effacer le filtre
                        </a>
                    </div>
                </div>
            </div> *@

            <div class="row">
                <div class="col-md-5 mb-3 d-flex align-items-end pt-3">
                    <div class="form-group d-flex">
                        <button type="submit" class="btn btn-primary me-2">
                            <i class="bi bi-search"></i> Rechercher
                        </button>
                        @if (Model.semaineEnCours || Model.moisEnCours || Model.intervalle || ViewBag.IntervenantId != null || Model.IdSeminarTheme != null || Model.IntervenantFilter !=null)
                        {
                            <a asp-action="Index" class="btn btn-secondary me-2"><i class="bi bi-eraser"></i> Effacer le filtre</a>
                        }
                        @if (ViewBag.ClientId != null)
                        {
                            <a asp-action="Details" asp-controller="Client" asp-route-id="@ViewBag.ClientId" class="btn btn-secondary">
                                <i class="bi bi-arrow-left"></i> Retour au client
                            </a>
                        }
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="pt-2 pb-2">

        @if (Model.semaineEnCours)
        {
            <h4 class="rechercheInterventionSousTitreInteractif pt-4"><i class="bi bi-search"></i> Semaine en cours</h4>
        }
        else if (Model.moisEnCours)
        {
            <h4 class="rechercheInterventionSousTitreInteractif pt-4"><i class="bi bi-search"></i>  Mois en cours</h4>
        }
        else if (Model.intervalle)
        {
            <h4 class="rechercheInterventionSousTitreInteractif pt-4">
                <i class="bi bi-search"></i> Intervalle du
                @Model.StartDate?.ToString("dd/MM/yyyy") au @Model.EndDate?.ToString("dd/MM/yyyy")
            </h4>
        }

    </div>

    <!-- Tableau des résultats -->
    <div class="table-container mt-4">
        @if (Model.Seminars != null && Model.Seminars.Any())
        {
            <table class="table table-striped">
                <thead class="table-header">
                    <tr>
                        <th>Date</th>
                        <th>Thème</th>
                        <th>Participant(s)</th>
                        <th>Intervenant(s)</th>
                        <th>Notes</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var seminar in Model.Seminars)
                    {
                        <tr>
                            <td>@seminar.DateSeminar?.ToString("dd/MM/yyyy")</td>
                            <td>@GetThemeName(seminar.IdSeminarTheme)</td>
                            <td>@string.Join(", ", seminar.Participants.Select(p => p.FirstName + " " + p.LastName))</td>
                            <td>@string.Join(", ", seminar.Intervenants.Select(i => i.FirstName + " " + i.LastName))</td>
                            <td>@seminar.Notes</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a asp-action="Details" asp-route-id="@seminar.Id" class="btn btn-primary">
                                        <i class="bi bi-list-ul"></i> Détails
                                    </a>
                                    <a asp-action="Edit" asp-route-id="@seminar.Id" class="btn btn-primary">
                                        <i class="bi bi-pencil-square"></i> Modifier
                                    </a>
                                    <a href="javascript:void(0);" onclick="DeleteSeminar('@seminar.Id')" class="btn btn-danger">
                                        <i class="bi bi-trash-fill"></i> Supprimer
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <!-- Pagination -->
            <div class="d-flex justify-content-center">
                <div class="pagination">
                    @if (Model.CurrentPage > 1)
                    {
                        <a asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)" class="btn btn-dark m-1"><i class="bi bi-arrow-left"></i></a>
                    }

                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        if (i == Model.CurrentPage)
                        {
                            <span class="btn btn-primary m-1">@i</span>
                        }
                        else
                        {
                            <a asp-action="Index" asp-route-page="@i" class="btn btn-dark m-1">@i</a>
                        }
                    }

                    @if (Model.CurrentPage < Model.TotalPages)
                    {
                        <a asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)" class="btn btn-dark m-1"><i class="bi bi-arrow-right"></i></a>
                    }
                </div>
            </div>
        }
        else
        {
            <p class="text-center">Aucun atelier trouvé.</p>
        }
    </div>
</div>

<script>
    // Affichage ou masquage de la plage de dates en fonction de la sélection de l'option
    document.getElementById("DateFilter").addEventListener("change", function () {
        var dateRange = document.getElementById("date-range");
        var dateRangeEnd = document.getElementById("date-range-end");

        // Si "Intervalle" est sélectionné, montrer les champs de la plage de dates
        if (this.value === "Intervalle") {
            dateRange.style.display = "block";
            dateRangeEnd.style.display = "block";
        } else {
            dateRange.style.display = "none";
            dateRangeEnd.style.display = "none";
        }
    });

    // Déclencher l'événement pour vérifier l'état initial
    document.getElementById("DateFilter").dispatchEvent(new Event("change"));
</script>

<!-- SWEETALERT DELETE-->
<script>
    function DeleteSeminar(id) {
        Swal.fire({
            title: 'Êtes-vous certain?',
            text: "Cet atelier sera supprimé définitivement!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Oui, supprimer!',
            cancelButtonText: 'Annuler',
            background: 'linear-gradient(135deg, #1b263b, #14578e)',
            customClass: {
                popup: 'custom-swal-popup',
                title: 'custom-swal-title',
                content: 'custom-swal-content',
                confirmButton: 'custom-swal-confirm-button',
                cancelButton: 'custom-swal-cancel-button'
            }
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/Seminars/DeleteConfirmed/' + id,
                    type: 'POST',
                    data: {
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (response) {
                        Swal.fire({
                            title: 'Supprimé!',
                            text: 'L\'atelier a été supprimé avec succès.',
                            icon: 'success',
                            background: 'linear-gradient(135deg, #1b263b, #14578e)',
                            customClass: {
                                popup: 'custom-swal-popup',
                                title: 'custom-swal-title',
                                content: 'custom-swal-content',
                                confirmButton: 'custom-swal-confirm-button2'
                            }
                        }).then(() => {
                            // Recharge la page après suppression réussie
                            location.reload();
                        });
                    },
                    error: function () {
                        Swal.fire('Erreur!', 'Une erreur est survenue lors de la suppression.', 'error');
                    }
                });
            }
        });
    }
</script>
