@model WebApp.ViewModels.MdDetailViewModel

<div class="container mt-4">
    <div class="row pt-5">
        <div class="col-6">
            <h1 class="titreInterventionIndex pb-2">Détails de : @Model.MdName</h1>
            <hr />
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" asp-route-name="@Model.MdName" class="btn btn-primary">
                <i class="bi bi-file-earmark-plus-fill"></i> Créer une Nouvelle Donnée
            </a>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Valeur</th>
                <th>Statut</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.MdItems != null && Model.MdItems.Any())
            {
                @foreach (var item in Model.MdItems)
                {
                    <tr>
                        <td>@item.Name</td> <!-- Affiche le nom de la Master Data -->
                        <td>@(item.IsActive.HasValue ? (item.IsActive.Value ? "Actif" : "Inactif") : "Indéterminé")</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-action="Edit" asp-route-oldName="@item.Name" asp-route-mdName="@Model.MdName" class="btn btn-primary">
                                    <i class="bi bi-pencil-square"></i> Modifier
                                </a>
                                @if(item.IsActive == true)
                                {
                                    <a asp-action="ToggleActive" asp-route-mdName="@Model.MdName" asp-route-mdItemName="@item.Name" class="btn btn-primary">
                                        <i class="bi bi-toggle-off"></i> Désactiver
                                    </a>
                                }
                                else
                                {
                                    <a asp-action="ToggleActive" asp-route-mdName="@Model.MdName" asp-route-mdItemName="@item.Name" class="btn btn-primary">
                                        <i class="bi bi-toggle-on"></i> Activer
                                    </a>
                                }

                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">Aucune donnée disponible pour cette MasterData.</td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="Index" class="btn btn-secondary mt-3">Retour à la liste</a>
</div>
