@model WebApp.ViewModels.MdDetailViewModel

<partial name="_Notification" />

<div class="interventionAttachmentsIndexContainer mt-3">
    <div class="container mt-4">
        <div class="row pt-2">
            <div class="col-6">
                <h1 class="titreInterventionIndex pb-2">@Model.MdName</h1>
                <hr />
            </div>
            <div class="col-6 text-end">
                <a asp-action="Create" asp-route-name="@Model.MdName" class="btn btn-primary">
                    <i class="bi bi-file-earmark-plus-fill"></i> Créer une Nouvelle Donnée
                </a>
            </div>
        </div>

        <a asp-action="Index" class="btn btn-secondary mb-4 mt-2"><i class="bi bi-arrow-90deg-left"></i> Retour</a>

        <table class="table table-striped">
            <thead class="table-header">
                <tr>
                    <th class="tableHeader">
                        <a href="@Url.Action("Details", new { mdName = Model.MdName, sortColumn = "Valeur", sortOrder = ViewBag.CurrentSortOrder == "asc" ? "desc" : "asc" })">
                            Valeur
                            @if (ViewBag.CurrentSortColumn == "Valeur")
                            {
                                @if (ViewBag.CurrentSortOrder == "asc")
                                {
                                    <i class="bi bi-arrow-up"></i>
                                }
                                else
                                {
                                    <i class="bi bi-arrow-down"></i>
                                }
                            }
                        </a>
                    </th>
                    <th class="tableHeader">Référé par</th>
                    <th class="tableHeader">Statut</th>
                    @if (Model.MdName == "Banque") 
                    {
                        <th class="tableHeader">Desjardins</th> <!-- Nouvelle colonne pour Banque -->
                    }
                    <th class="tableHeader">Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.MdItems != null && Model.MdItems.Any())
                {
                    @foreach (var item in Model.MdItems)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                @if (item.ReferredCount <= 1)
                                {
                                    @item.ReferredCount @:élément
                                }
                                else
                                {
                                    @item.ReferredCount @:éléments
                                }
                            </td>
                            <td>@(item.IsActive.HasValue ? (item.IsActive.Value ? "Actif" : "Inactif") : "Indéterminé")</td>
                            @if (Model.MdName == "Banque")
                            {
                                <td>@(item.IsDesjardins ? "Oui" : "Non")</td>
                            }
                            <td>
                                <div class="btn-group" role="group">
                                    <a asp-action="Edit" asp-route-oldName="@item.Name" asp-route-mdName="@Model.MdName" asp-route-id="@item.Id" class="btn btn-primary me-3">
                                        <i class="bi bi-pencil-square"></i> Modifier
                                    </a>
                                    @if(item.ReferredCount >= 1)
                                    {
                                        if (item.IsActive == true)
                                        {
                                            <a asp-action="ToggleActive" asp-route-mdName="@Model.MdName" asp-route-mdItemName="@item.Name" class="btn btn-primary">
                                                <i class="bi bi-toggle-off"></i> Désactiver
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-action="ToggleActive" asp-route-mdName="@Model.MdName" asp-route-mdItemName="@item.Name" class="btn btn-primary">
                                                <i class="bi bi-toggle-on"></i> Activer
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        <a href="javascript:void(0);" onclick="Delete('@Url.Action("DeleteConfirmed", "GestionMD", new { mdName = Model.MdName, mdItemName = item.Name })')" class="btn btn-sm btn-danger custom-btn custom-btn-delete">
                                            <i class="bi bi-trash-fill"></i> Supprimer
                                        </a>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">Aucune donnée disponible pour cette MasterData.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<link rel="stylesheet" href="~/css/global/SweetAlert.css">

<!-- SWEETALERT DELETE-->
<script>
    function Delete(url) {
        Swal.fire({
            title: "Êtes-vous certain?",
            text: "Cette donnée sera supprimée définitivement!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Oui, supprimer!",
            cancelButtonText: "Annuler",
            background: 'linear-gradient(135deg, #1b263b, #14578e)',
            customClass: {
                popup: 'custom-swal-popup',
                title: 'custom-swal-title',
                content: 'custom-swal-content',
                confirmButton: 'custom-swal-confirm-button',
                cancelButton: 'custom-swal-cancel-button'
            }
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {
                        Swal.fire({
                            title: 'Supprimé!',
                            text: 'La donnée a été supprimée.',
                            icon: 'success',
                            background: 'linear-gradient(135deg, #1b263b, #14578e)',
                            customClass: {
                                popup: 'custom-swal-popup',
                                title: 'custom-swal-title',
                                content: 'custom-swal-content',
                                confirmButton: 'custom-swal-confirm-button',
                            }
                        }).then(() => {
                            window.location.reload();
                        });
                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            title: 'Erreur!',
                            text: 'Une erreur est survenue lors de la suppression.',
                            icon: 'error',
                            background: 'linear-gradient(135deg, #1b263b, #14578e)',
                            customClass: {
                                popup: 'custom-swal-popup',
                                title: 'custom-swal-title',
                                content: 'custom-swal-content',
                                confirmButton: 'custom-swal-confirm-button',
                            }
                        });
                    }
                });
            }
        });
    }
</script>
