@model IEnumerable<DataAccess.BOL.InterventionAttachment.InterventionAttachmentBOL>

@{
    ViewData["Title"] = "Pièces Jointes";
}

<h1 class="attachments-card-header">Pièces Jointes</h1>

<div class="attachments-card-body">
    <a asp-action="Create" asp-route-interventionId="@ViewBag.InterventionId" class="btn btn-primary">Ajouter une Pièce Jointe</a>
    <a asp-action="Details" asp-controller="Intervention" asp-route-id="@ViewBag.InterventionId" class="btn btn-secondary">Retour</a>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de Fichier</th>
                <th>Date de Création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var attachment in Model)
            {
                <tr>
                    <td>@attachment.FileName</td>
                    <td>@attachment.CreatedDate?.ToString("g")</td>
                    <td>
                        <a asp-action="Download" asp-route-id="@attachment.Id" class="btn btn-info">Télécharger</a>
                        <a href="javascript:void(0);" onclick="Delete('@Url.Action("DeleteConfirmed", "InterventionAttachments", new { id = attachment.Id })')" class="btn btn-danger custom-btn custom-btn-delete ">
                            <i class="bi bi-trash-fill"></i> Supprimer
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<link rel="stylesheet" href="~/css/global/SweetAlert.css">

<!-- SWEETALERT DELETE-->
<script>
    function Delete(url) {
        Swal.fire({
            title: "Êtes-vous certain?",
            text: "Cette intervention sera supprimée définitivement!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Oui, supprimer!",
            cancelButtonText: "Annuler",
            background: 'linear-gradient(135deg, #1b263b, #14578e)',
            customClass: {
                popup: 'custom-swal-popup',
                title: 'custom-swal-title',
                content: 'custom-swal-content',
                confirmButton: 'custom-swal-confirm-button',
                cancelButton: 'custom-swal-cancel-button'
            }
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (data) {
                        // Afficher un message de confirmation et recharger la page après la suppression
                        Swal.fire({
                            title: 'Supprimé!',
                            text: 'L\'intervention a été supprimée.',
                            icon: 'success',
                            background: 'linear-gradient(135deg, #1b263b, #14578e)',
                            customClass: {
                                popup: 'custom-swal-popup',
                                title: 'custom-swal-title',
                                content: 'custom-swal-content',
                                confirmButton: 'custom-swal-confirm-button',
                            }
                        }).then(() => {
                            window.location.reload();
                        });
                    },
                    error: function (xhr, status, error) {
                        Swal.fire({
                            title: 'Erreur!',
                            text: 'Une erreur est survenue lors de la suppression.',
                            icon: 'error',
                            background: 'linear-gradient(135deg, #1b263b, #14578e)',
                            customClass: {
                                popup: 'custom-swal-popup',
                                title: 'custom-swal-title',
                                content: 'custom-swal-content',
                                confirmButton: 'custom-swal-confirm-button',
                            }
                        });
                    }
                });
            }
        });
    }
</script>
