@model WebApp.ViewModels.InterventionNotesViewModel

@{
    ViewBag.Title = "InterventionNotes";
    var intervention = Model.Intervention;
}

<h2 class="notes-card-header">Notes pour l'intervention' : @intervention.Id</h2>

<div class="notes-card-body">
    <a asp-action="Create" asp-route-interventionId="@intervention.Id" class="btn btn-primary custom-btn custom-btn-create">Ajouter une note</a>
    <a asp-action="Details" asp-controller="Intervention" asp-route-id="@intervention.Id" class="btn btn-primary custom-btn custom-btn-create">Retour Detail de l'intervention'</a>

    <table class="table">
        <thead>
            <tr>
                <th>Commentaire</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var note in Model.InterventionNotes)
            {
                <tr>
                    <td>@note.IdEmployee @note.Comment</td>
                    <td>@note.CreatedDate?.ToString("g")</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@note.Id" class="btn btn-secondary custom-btn custom-btn-edit">Modifier</a>
                        <a asp-action="Delete" asp-route-id="@note.Id" class="btn btn-danger custom-btn custom-btn-delete">Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

