@model WebApp.ViewModels.ClientViewModel

@{
    ViewData["Title"] = "Edit Client";
}



<form asp-action="Edit" method="post">
    <div class="form-container border p-3 mt-4">
        <div class="row pb-2">
            <h1 class="form-title text-center">Modifier le client</h1>
            <h4 class="text-center mb-4">@Model.FirstName @Model.LastName</h4>
            <hr />
        </div>
        <div class="row">
            <div class="mb-3">
                <label asp-for="IsMember" class="form-label"></label>
                <div class="form-check">
                    <input asp-for="IsMember" class="form-check-input" type="checkbox" />
                    <span asp-validation-for="IsMember" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">

                <div class="mb-3">
                    <label asp-for="LastName" class="form-label"></label>
                    <input asp-for="LastName" type="text" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="FirstName" class="form-label"></label>
                    <input asp-for="FirstName" type="text" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Birthdate" class="form-label"></label>
                    <input asp-for="Birthdate" type="date" class="form-control date-input" />
                    <span asp-validation-for="Birthdate" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PhoneNumber" class="form-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="IdGenderDenomination" class="form-label"></label>
                    <select asp-for="IdGenderDenomination" class="form-control" asp-items="ViewBag.MdGenderDenomination">
                        <option value="">--Sélectionnez le genre--</option>
                    </select>
                    <span asp-validation-for="IdGenderDenomination" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Address" class="form-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ZipCode" class="form-label"></label>
                    <input asp-for="ZipCode" class="form-control" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>

            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="IdMaritalStatus" class="form-label"></label>
                    <select asp-for="IdMaritalStatus" class="form-control" asp-items="ViewBag.MdMaritalStatus">
                        <option value="">--Sélectionnez l'Etat Civil--</option>
                    </select>
                    <span asp-validation-for="IdMaritalStatus" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="IdFamilySituation" class="form-label"></label>
                    <select asp-for="IdFamilySituation" class="form-control" asp-items="ViewBag.MdFamilySituation">
                        <option value="">--Sélectionnez la Situation Familiale--</option>
                    </select>
                    <span asp-validation-for="IdFamilySituation" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="AdultsAtHome" class="form-label"></label>
                    <input asp-for="AdultsAtHome" class="form-control" />
                    <span asp-validation-for="AdultsAtHome" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ChildsAtHome" class="form-label"></label>
                    <input asp-for="ChildsAtHome" class="form-control" />
                    <span asp-validation-for="ChildsAtHome" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="IdHabitationType" class="form-label"></label>
                    <select asp-for="IdHabitationType" class="form-control" asp-items="ViewBag.MdHabitationType">
                        <option value="">--Sélectionnez le Type de Logement--</option>
                    </select>
                    <span asp-validation-for="IdHabitationType" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="IdBank" class="form-label"></label>
                    <select asp-for="IdBank" class="form-control" asp-items="ViewBag.MdBanks">
                        <option value="">--Sélectionnez la Banque--</option>
                    </select>
                    <span asp-validation-for="IdBank" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="IdEmploymentSituation" class="form-label"></label>
                    <select asp-for="IdEmploymentSituation" class="form-control" asp-items="ViewBag.MdEmploymentSituations">
                        <option value="">--Sélectionnez la Situation d'emploi--</option>
                    </select>
                    <span asp-validation-for="IdEmploymentSituation" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="IdScholarshipType" class="form-label"></label>
                    <select asp-for="IdScholarshipType" class="form-control" asp-items="ViewBag.MdScholarshipType">
                        <option value="">--Sélectionnez le Type de Bourse--</option>
                    </select>
                    <span asp-validation-for="IdScholarshipType" class="text-danger"></span>
                </div>

            </div>

            <div class="mb-3">
                <label asp-for="Income" class="form-label"></label>
                <input asp-for="Income" class="form-control" />
                <span asp-validation-for="Income" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="SelectedIncomeType" class="form-label">Source Revenu</label>
                <div class="input-group">
                    <select id="AvailableIncomeType" class="form-control">
                        <option value="">--Sélectionnez la Source de Revenu--</option>
                        @if (Model.IncomeType != null)
                        {
                            @foreach (var incomeType in Model.IncomeType)
                            {
                                <option value="@incomeType.Value">@incomeType.Text</option>
                            }
                        }
                    </select>
                    <button type="button" id="addIncomeTypeButton" class="btn btn-primary ml-2">Ajouter</button>
                </div>
                <span asp-validation-for="SelectedIncomeType" class="text-danger"></span>
            </div>

            <div id="solutionsSection" class="mb-3">
                <label class="form-label text-center">Sources de revenu proposées </label>
                <ul id="selectedSolutionsList" class="list-group">
                    @foreach (var incomeType in Model.SelectedIncomeType)
                    {
                        var incomeTypeText = Model.IncomeType.FirstOrDefault(s => s.Value == incomeType.ToString())?.Text;
                        <li class="list-group-item" data-value="@incomeType">
                            @incomeTypeText
                            <button type="button" class="btn btn-sm btn-danger float-right remove-solution">
                                <i class="bi bi-trash"></i>
                            </button>
                            <input type="hidden" name="SelectedIncomeType" value="@incomeType" />
                        </li>
                    }
                </ul>
                <span asp-validation-for="SelectedIncomeType" class="text-danger"></span>
            </div>
            
        </div>
        

        


        

        <div class="row">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary" style="width:150px">Modifier</button>
                <a asp-controller="Client" asp-action="Index" class="btn btn-secondary" style="width:150px">Retour</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.getElementById('addIncomeTypeButton').addEventListener('click', function () {
            var select = document.getElementById('AvailableIncomeType');
            var selectedValue = select.value;
            var selectedText = select.options[select.selectedIndex].text;

            if (selectedValue) {
                // Vérifier si l'élément existe déjà dans la liste
                var existingItem = document.querySelector('li[data-value="' + selectedValue + '"]');
                if (existingItem) {
                    alert('Cette source de revenu a déjà été ajoutée.');
                    return;
                }

                // Ajouter l'élément sélectionné à la liste
                var list = document.getElementById('selectedSolutionsList');
                var listItem = document.createElement('li');
                listItem.classList.add('list-group-item');
                listItem.setAttribute('data-value', selectedValue);
                listItem.innerHTML = selectedText +
                    '<button type="button" class="btn btn-sm btn-danger float-right remove-solution">' +
                    '<i class="bi bi-trash"></i></button>' +
                    '<input type="hidden" name="SelectedIncomeType" value="' + selectedValue + '" />';

                list.appendChild(listItem);

                // Réinitialiser la sélection après l'ajout
                select.value = '';
            } else {
                alert('Veuillez sélectionner une source de revenu.');
            }
        });

        // Gérer la suppression des éléments
        document.getElementById('solutionsSection').addEventListener('click', function (e) {
            if (e.target && e.target.classList.contains('remove-solution')) {
                var listItem = e.target.closest('li');
                listItem.remove();
            }
        });

    </script>
}
