@model WebApp.ViewModels.ClientSearchViewModel

<partial name="_Notification" />

@{
    ViewData["Title"] = "Index";
}

<style>

</style>



<div class="clientIndex container">
    <div class="row pt-5">
        <div class="col-6">
            <h1 class="titreClientIndex pb-2">Liste des Clients</h1>
            <hr />
            <h4 class="titreRechercheClientIndex pt-4 pb-3"><i class="bi bi-search"></i> Recherche</h4>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Client" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-person-plus-fill"></i> Créer un Nouveau Client
            </a>
        </div>
    </div>

    <div class="searchForm container mb-5">
        <form asp-action="Index" method="get" class="form-inline search-form ">
            <div class="row">
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label for="Id">Numéro de dossier</label>
                        <input type="text" name="Id" id="Id" class="form-control" value="@Model.Id?.ToString()">
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label for="LastName">Nom</label>
                        <input type="text" name="LastName" id="LastName" class="form-control" value="@Model.LastName">
                    </div>
                </div>
                <div class="col-md-2 mb-3">
                    <div class="form-group">
                        <label for="FirstName">Prénom</label>
                        <input type="text" name="FirstName" id="FirstName" class="form-control" value="@Model.FirstName">
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        <label for="PhoneNumber">Numéro de téléphone</label>
                        <input type="text" name="PhoneNumber" id="PhoneNumber" class="form-control" value="@Model.PhoneNumber">
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        <label for="Email">Courriel</label>
                        <input type="text" name="Email" id="Email" class="form-control" value="@Model.Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="isLoanPaid">Petit prêt non remboursé</label>
                    <input type="checkbox" name="isLoanPaid" id="isLoanPaid" value="false" @(Model.isLoanPaid.HasValue && Model.isLoanPaid.Value ? "checked" : "") />
                </div>

            </div>
            <div class="row">
                <div class="col-md-5 mb-3 d-flex align-items-end pt-3">
                    <div class="form-group d-flex">
                        <button type="submit" class="btn btn-primary me-2">
                            <i class="bi bi-search"></i> Rechercher
                        </button>
                        @if (!string.IsNullOrEmpty(Model.Id?.ToString())
                        || !string.IsNullOrEmpty(Model.LastName)
                        || !string.IsNullOrEmpty(Model.FirstName)
                        || !string.IsNullOrEmpty(Model.PhoneNumber)
                        || !string.IsNullOrEmpty(Model.Email)
                        || @Model.isLoanPaid.HasValue)
                        {
                            <a asp-action="Index" class="btn btn-secondary">
                                <i class="bi bi-eraser"></i> Effacer le filtre
                            </a>
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>





    <div class="table-container ">
        @if (Model != null && Model.Clients.Count > 0)
        {
            <table class="table table-striped">
                <thead class="tableHeader">
                    <tr>
                        <th>#Dossier</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>#Tel</th>
                        @* <th>Email</th> <!-- Réduction de la taille de la colonne --> *@
                        <th>Date Naissance</th>
                        <th>Prêt Remboursé</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var client in Model.Clients)
                    {
                        <tr>
                            <td>@client.Id</td>
                            <td>@client.LastName</td>
                            <td>@client.FirstName</td>
                            <td>@client.PhoneNumber</td>
                            @* <td>@client.Email</td> *@
                            <td>@client.Birthdate?.ToString("dd/MM/yyyy")</td>
                            <td>@(client.IsLoanPaid.HasValue ? (client.IsLoanPaid.Value ? "Oui" : "Non") : "N/A")</td>

                            <td>
                                <div class="btn-group" role="group">
                                    <a asp-controller="Client" asp-action="Details" asp-route-id="@client.Id" class="btn btn-primary">
                                        <i class="bi bi-list-ul"></i> Détails
                                    </a>
                                    <a asp-controller="Client" asp-action="Edit" asp-route-id="@client.Id" class="btn btn-primary">
                                        <i class="bi bi-pencil-square"></i> Modifier
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- Pagination -->
            <div class="d-flex justify-content-center">
                <div class="pagination">
                    @if (Model.CurrentPage > 1)
                    {
                        <a asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)" class="btn   btn-dark m-1"><i class="bi bi-arrow-left"></i></a>
                    }

                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        if (i == Model.CurrentPage)
                        {
                            <span class="btn   btn-primary m-1">@i</span>
                        }
                        else
                        {
                            <a asp-action="Index" asp-route-page="@i" class="btn   btn-dark m-1">@i</a>
                        }
                    }

                    @if (Model.CurrentPage < Model.TotalPages)
                    {
                        <a asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)" class="btn   btn-dark m-1"><i class="bi bi-arrow-right"></i></a>
                    }
                </div>
            </div>
        }
        else
        {
            <p class="text-center">Aucun client trouvé.</p>
        }
    </div>
</div>

