@model IEnumerable<WebApp.ViewModels.EmployeeViewModel>

@{
    ViewData["Title"] = "Employees";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - ACEF</title>
    <link rel="stylesheet" href="~/css/employees.css">
</head>
<body>
    <div class="clientIndex Container">
        <div class="row pt-5">
            <div class="col-6">
                <h1 class="titreClientIndex pb-2">Liste des Employés</h1>
                <hr />
                
            </div>
            <div class="col-6 text-end mb-5">
                <a asp-controller="Employee" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-person-plus-fill"></i> Créer un Nouvel Employé
                </a>
            </div>
        </div>

        <table class="table mt-3">
            <thead class="tableHeader">
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Nom d'utilisateur</th>
                    <th>Actif</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.FirstName</td>
                        <td>@employee.LastName</td>
                        <td>@employee.UserName</td>
                        <td>@(employee.Active ?? false ? "Oui" : "Non")</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@employee.Id" class="btn btn-primary"><i class="bi bi-list-ul"></i> Détails</a>
                            <a asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i> Modifier</a>
                            <a asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger"><i class="bi bi-trash-fill"></i> Supprimer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @section Scripts {
        <script src="~/js/your-custom-scripts.js"></script>
    }
</body>
</html>
