@model WebApp.ViewModels.EmployeeIndexViewModel

<div class="clientIndex Container">
<h1>Liste des employés</h1>

    <div class="table-container mt-4">
<table class="table">
    <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Nom d'utilisateur</th>
            <th>Dernière connexion</th>
            <th>Actif</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees)
        {
            <tr>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.UserName</td>
                <td>@employee.LastLoginDate?.ToString("dd/MM/yyyy")</td>
                <td>@(employee.Active ?? false ? "Oui" : "Non")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary">Modifier</a>
                    <a asp-action="Delete" asp-route-id="@employee.Id" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        }

    </tbody>

    
</table>

<!-- Pagination -->
<div class="d-flex justify-content-center">
        <div class="pagination">
            @if (Model.CurrentPage > 1)
            {
                    <a asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)" class="btn   btn-dark m-1"><i class="bi bi-arrow-left"></i></a>
            }

            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                if (i == Model.CurrentPage)
                {
                        <span class="btn   btn-primary m-1">@i</span>
                }
                else
                {
                        <a asp-action="Index" asp-route-page="@i" class="btn   btn-dark m-1">@i</a>
                }
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                    <a asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)" class="btn   btn-dark m-1"><i class="bi bi-arrow-right"></i></a>
            }
        </div>
</div>

    


</div>
</div>

